#top {
    display: flex;
    min-height: 200px;
}

#bottom {
    display: flex;
    min-height: 200px;
}

#counter-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.counter {
    width: 200px;
    min-height: 200px;
    height: auto;
    border:  solid 2px black;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.counter-title {}

#container-two {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}