body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;

}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:300px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    min-width: 100px;
    min-height: 100px;
    height: auto;
    margin: 25px;
    padding: 5px;
    padding-top: 20px;
}

.win {
    
    transition: all .07s ease;
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}


#game-display {
    display: flex;
    margin: 50px;
}

.screen {
    min-width: 250px;
    min-height: 250px;
}

.counter-container {
    display: flex;

}

.button-image {
    width: 100px;
    height: 100px;
}

.counter.round {
    color: blue ;
}


.counter.player-wins {
    color: green;
}

.counter.draw {
    color: #ffc600;
}

.counter.computer-wins {
    color: red;
}



.screen .choice {
    width: 200px;
    height: 200px;
    display: none;


}

